#todoList {
	max-width: 400px;
	display: block;
	margin: 0 auto 40px;
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 darken($bgcolor, 50%);
	h1 {
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
		color: #E65100;
		opacity: 0.5;
		font-size: 40px;
		font-family: 'Catamaran', sans-serif;
	}
}
.task {
	padding-top: 10px;
	&:first-child {
		margin-top: 10px;
	}
	&:not(:last-child) {
		border-bottom: 1px solid #000;
	}
	@include clearfix;
	p {
		color: #000;
	}
	.complete {
		text-decoration: line-through;
		color: #777;
	}
	.left,.right {
		box-sizing: border-box;
		display: block;
	}
	.left {
		max-width: 70%;
	}
	.right {
		max-width: 25%;
	}
}
