.clearfix {
	@include clearfix;
}
.container, .row,  {
	@extend .clearfix;
}
.container {
	max-width: 1170px;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
}
.left {
	float: left;
}
.right {
	float: right;
}
